.container {
  max-width: 1200px;
}

.content {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.content img {
  width: 100%;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .content {
    grid-template-columns: 1fr;
  }
}
