.container {
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
  padding: 2rem 1.5rem;
}

.card {
  background-color: var(--color-secondary);
  border-radius: 1.75rem;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 3rem;
  align-items: flex-start;
}

.imageWrapper {
  width: 100%;
}

.imageWrapper img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 1.75rem;
  object-fit: cover;
}

.info {
  align-self: flex-start;
}

.info h2 {
  margin: 0 0 0.3rem;
  font-size: 2.4rem;
}

.binomial {
  display: none;
}

.price {
  display: block;
  margin-bottom: 1.5rem;
  margin-top: 2.5rem;
  font-size: 1.8rem;
  color: var(--color-text);
}

.details {
  list-style: none;
  padding-left: 0;
  margin: 0 0 2.5rem;
}

.details li {
  margin-bottom: 0.4rem;
}

.addToCart {
  padding: 0.9rem 1.25rem;
  border: none;
  border-radius: 999px;
  background-color: var(--color-add-to-card-background);;
  color: var(--color-card-bg);
  font-weight: 500;
  cursor: pointer;
  width: fit-content;
}

@media (min-width: 769px) {
  .imageWrapper {
    height: 720px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0;
    margin: 0;
  }

  .card {
    grid-template-columns: 1fr;
    padding: 0;
    gap: 1.75rem;
    align-items: stretch;
  }

  .info h2 {
    font-size: 1.9rem;
  }

  .details {
    padding-left: 1em;
  }

  .price {
    font-size: 1.5rem;
    margin-top: 0.25rem;
  }

  .addToCart {
    width: 100%;
    margin-top: 0.5rem;
    display: block;
  }

  .binomial {
    display: block;
    margin: 0 0 1.5rem;
    color: var(--color-muted);
  }

  .imageWrapper {
    height: auto;
  }
}
