header {
  width: 100%;
  background-color: var(--color-card-bg);
  padding: 0.75rem 0;
  display: flex;
  justify-content: center;
}

header h1 {
  margin: 0;
  font-size: 0;
}

header a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  border-radius: 999px;
  background-image: url('../../assets/logo.jpg');
}

header h1 span {
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-primary);
}
